
/* Support Grids */
ul.supportPackagesDescription {
	margin:1.25em 0 2em 0;
	list-style-type:none;
	padding-left:0;
}


.supportPackagesDescription li {
	background:url("../images/supportPackage.gif") no-repeat 0 2px;
	padding-left:30px;
	min-height:30px;
}

.features li {
	background:url("../images/feature.gif") no-repeat 0 2px;
}

.supportGridContainer {
	border:1px solid #c4c4c4;
	margin-top:1em;
}

.supportGrid {
	border-collapse:collapse;
	font-size:1em;
	border:3px solid #eaeff2;
}

.supportGrid tbody.packageTitles td, .supportGrid tbody.packagePrices td {
	background:#1f7fbb;
	padding:0.45em;
	color:#fff;
	border:1px solid #fff;
	text-align:center;
}

.supportGrid tbody.packagePrices td {
	background:#2a4a7d;
	text-align:center;
}

.supportGrid tbody.packageSection td {
	background:#eaeff2;
	padding:0.65em 1em 0.65em 0.45em;
	border:1px solid #d3d9dc;
	font-weight:bold;
}

.supportGrid td.check {

}

.supportGrid tbody td.priceTitle, .supportGrid tbody td.packageTitle {
	text-align:left;
}

.supportGrid tr.packageRow td {
	background:#fff;
	border:1px solid #d3d9dc;
	text-align:center;
	padding:0.65em 1em 0.65em 0.45em;
	font-size:0.9em;
}

.supportGrid tr.packageRow td.title {
	text-align:left;
}

.supportGrid tr.packageRow .titleHelp {
	text-align:left;
	color:#1c7ab7;
	cursor:help;
}

.supportGrid tr.packageRow.alt td {
	background:#f0f7ff;
}

.supportGrid tr.packageRow.alt td.title, .supportGrid tr.packageRow.alt td.titleHelp {

}

.supportGrid tfoot td {
	background:#6299c6;
	border:1px solid #d3d9dc;
	text-align:center;
	padding:0.45em 1em;
}